$MainBackgroundColor:rgba(0, 0, 0, 0.625);
$BoxBackgroundColor:rgba(67, 67, 67, 0.598);
$OtherBackgroundColor:rgb(235, 242, 243);

$LinksTextColor:rgb(0, 0, 0);
$TitleTextColor:rgb(0, 250, 254);
$ParagrafTextColor:rgb(172, 175, 175);

$Font-Text-Title:"Roboto",sans-serif;
$Font-Text-P: "Anton",sans-serif;

$Button-Color:rgb(0, 250, 254);

$ReferenceColour:rgb(0, 250, 254);

$FontIndexTitle:1.6em;
$Padding-Index-Title:1.2;


